.idea
.idea/*
Lectures Scripts/Output
Lectures Scripts/Output/*
Lectures Scripts/Output/*.*
Lectures Scripts/Output/*/*
Lectures Scripts/History
Lectures Scripts/History/*
Lectures Scripts/History/*.*
Lectures Scripts/History/*/*
Lectures Scripts/*.svs
Lectures Scripts/*.xml
